div{
    display: flex;
}
.a {
    height: 78px;
    width: 654px;
    border:1px solid #4484f0;
    margin: 10px;
    justify-items: center;
    align-items: center;
}
.b{
    height: 50px;
    width: 50px;
    margin: 7px;
    background-color: #396cc480;
}
.c{
    margin:7px;
}
.a:hover:hover{
    background-color: #f36046;
}